<a href="https://colab.research.google.com/github/Thanatipz/python_dataviz2023/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

## Meta data = Data that describtion data

ใช้อธิบายช้อมูล

## CSV = Comma Separated Values
ในการจะใส่ค่าแต่ละค่า จะใช้  comma ในการแย่ง

.csv = Comma Separated Values

data.go.th

# นำ Data เข้า
- upload to colab  # กรณีใช้เเค่ครั้งเดียว
- link with google drive

## upload to colab

In [2]:
data0 = pd.read_csv('/content/DataBKK01.csv')

FileNotFoundError: ignored

In [ ]:
#data0

In [ ]:
data0.head(20)

In [ ]:
data0.tail()

In [ ]:
data0.shape

In [ ]:
data0.describe()

## link with google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')  # mount =  เชื่อมไดร์ฟ

In [ ]:
data1 = pd.read_csv('/content/drive/MyDrive/DataViz23Data/csv.csv')
data1.head()

In [ ]:
data1.head(10)  # ดูหัวตาราง จากแถวบน 10 แถวแรก นับจาก 0-9

In [ ]:
data1.tail(10) # ดูท้ายตาราง จากข้างล่าง

In [ ]:
data1.shape # ดูขนาด กี่เเถวกี่หลัก

In [ ]:
data1.describe()

NaN = Not a Number

### DF คือ DataFrame เป็นชื่อ Data Structure ที่ Pandas ใช้

# ชี้ค่าในตาราง (indexing)

## มุมมองตาราง ```df[columns][rows]```

In [ ]:
data1['Budget_resource']

In [ ]:
data1['Budget_resource'][690]

In [ ]:
data1['Budget_resource'][-3:-1]

In [ ]:
data1.columns

In [ ]:
data1[['Approved_buget','Item_name','Department']]

In [ ]:
data1[['Approved_buget','Item_name','Department']][6:11]

## มุมมองแบบ Array

In [ ]:
data1.iloc[0,0] # .iloc เปลี่ยนมุมมองเป็น np.arry  ชี้เป็นแถว คอลัม ติดลบ สไลด์ได้

In [ ]:
data1.iloc[-6,5]

In [ ]:
 data1.tail(7)

### Table Slicing
ไม่ค่อยมีประสิทธิภาพ
ต้องทราบพิกัด

In [ ]:
data1.iloc[-20:,7:10]

 ## table Query

```df[logics]``` โดยที่ logics จะต้องมีจำนวนสมาชิกเท่ากับจำนวนแถวของ df

In [ ]:
small_df = data1.iloc[-5:,:]
small_df

In [ ]:
small_df[[False,True,True,False,False]]

## ปั้น list of logics จากตาราง pandas

In [ ]:
small_df['Approved_buget']< 1000000

In [ ]:
small_df[small_df['Approved_buget']< 1000000]

# Quiz3 อยากได้รายการที่ได้รับอนุมัติงบมากกว่า 1 ล้านบาท แต่ไม่เกิน 2 ล้าน

# Quiz 4
1. ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5 ร้านบาท
2. พื้นที่ และ จำนวนห้องนอนของบ้านที่แพงที่สุด
3. จำนวนที่จอดรถและห้องน้ำของบ้านที่ถูกที่สุด
4. ชนิดของบ้านที่แพงที่สุด
5. บ้านชนิดไหนมีปริมาณมากที่สุด

# Missing Values

# ตรวจสอบ Missing (```isnull()```)

In [ ]:
data1.isnull()

In [ ]:
data1.isnull().any() # .any() เอาค่าความจริงใน column มา OR กัน (ใช้หาค่าว่าง)

In [ ]:
data1.isnull().all() # .all() เอาค่าความจริงใน column มา AND กัน

In [ ]:
data1.isnull().any().any()

การจัดการ Missing Value

- ลบ record ที่เป็น missing (```dropna```)
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknown (```fillna```)
- ใช้ ค่าจาก columns อื่นๆ ช่วยประมาณค่า ค่าใน column ที่หายไป (regression, deep learning, etc.) (```fillna```)

## NaN Not a Number
## Null Null
## NA Not Available/Not Authorised
## None

## DropNA

In [ ]:
data1.shape

In [ ]:
data1.dropna().shape

In [ ]:
data1.dropna(subset=['Fiscal_year']).shape

In [ ]:
data1.dropna(subset=['Fiscal_year'])

In [ ]:
data1.isnull().any()

In [ ]:
data1_1 = data1.dropna(subset=['Fiscal_year'])

In [ ]:
data1_1.isnull().any()

In [ ]:
data1.dropna(subset=['Fiscal_year'],inplace=True)

In [ ]:
data1.isnull().any()

## FillNA

In [ ]:
set(data1['Core_budget_code'])

In [ ]:
data1.fillna('-',inplace=True)

In [ ]:
set(data1['Core_budget_code'])

In [ ]:
data1.isnull().any()

In [ ]:
data1['Department'])

# HW3



1.   รายการที่แพงและถูกที่สุดคือรายการไหน
2.   รายการขุดลอกคูคลองของ 'สำนักงานเขตคลองสาน' และ 'สำนักงานเขตคลองสามวา'
3.   จากข้อ 2 เขตไหนใช้งบประมาณเยอะกว่ากัน
4.   Core Budget ไหน ('12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม', '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร','28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต') มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด

In [ ]:
data1_T = data1[(data1['Approved_buget'] == data1['Approved_buget'].max()) | (data1['Approved_buget'] == data1['Approved_buget'].min())][['Item_name','Approved_buget']]
data1_T #ข้อ1

In [ ]:
data_T2 = data1[(data1['Department'] == 'สำนักงานเขตคลองสาน') | (data1['Department'] == 'สำนักงานเขตคลองสามวา')]
data_T2 #ข้อ2

In [ ]:
data1[(data1['Department'] == 'สำนักงานเขตคลองสาน') | (data1['Department'] == 'สำนักงานเขตคลองสามวา')].shape

In [ ]:
datana = data1[(data1['Department'] == 'สำนักงานเขตคลองสาน') | (data1['Department'] == 'สำนักงานเขตคลองสามวา')]

In [ ]:
datana [['Budget_resource','Issue_No','Fiscal_year',                      #ข้อ3จากข้อ2 สำนักงานเขตไหนใช้งบเยอะกว่า
           'Department_code','Department','Core_budget_code',
           'Expenditure_category','Item_name','Approved_buget']].max()

In [ ]:
doo_data1 = data1.dropna()   #ข้อ4Core Budget ไหน  มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด
df_data1 = doo_data1[doo_data1['Core_budget_code'] != '-']
df_data1_12 =df_data1[df_data1['Core_budget_code'] == '12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม']
df_data1_28 =df_data1[df_data1['Core_budget_code'] == '28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต']
df_data1_17 =df_data1[df_data1['Core_budget_code'] == '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร']
corename = []
A=set(df_data1['Core_budget_code'])
for n in A:
  corename.append(n)
df_data1_12_MEAN = df_data1_12['Approved_buget'].mean()
df_data1_17_MEAN = df_data1_17['Approved_buget'].mean()
df_data1_28_MEAN = df_data1_28['Approved_buget'].mean()
if (df_data1_12_MEAN > df_data1_17_MEAN ) & (df_data1_12_MEAN > df_data1_28_MEAN )  :
  print(f'รายการ {corename[1]} มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุดคือ {df_data1_12_MEAN}')
elif (df_data1_17_MEAN > df_data1_12_MEAN ) & (df_data1_17_MEAN > df_data1_28_MEAN ):
  print(f'รายการ {corename[2]} มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุดคือ {df_data1_17_MEAN}')
elif (df_data1_28_MEAN > df_data1_12_MEAN ) & (df_data1_28_MEAN > df_data1_17_MEAN ):
  print(f'รายการ {corename[3]} มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุดคือ {df_data1_28_MEAN}')

In [ ]:
df_data1_12_MEAN = df_data1_12['Approved_buget'].mean()
df_data1_12_MEAN

In [ ]:
df_data1_17_MEAN = df_data1_17['Approved_buget'].mean()
df_data1_17_MEAN

In [ ]:
df_data1_28_MEAN = df_data1_28['Approved_buget'].mean()
df_data1_28_MEAN

### การวนลูป record ในตาราง  (```.iterrows```)

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data

In [ ]:
for row_i in range (len(data1)):
  print(data1.iloc[row_i,-2:])
  print('-'*5)

In [ ]:
for row in data1.iterrows():
  #print(row)
  print(row[1]['Fiscal_year'])
  print('--------------------')

#การสร้างคอลัมน์เพิ่ม
df['ชื่อ column ใหม่']= list of data# list of data มีจำนวนสมาชิกเท่ากับจำนวน row ของตาราง

In [ ]:
small_df['ผู้รับผิดชอบ']=['ลุงตู่','ลุงตู่','ลุงป้อม','ชัชชาติ','พิธา']

#ลบคอลัมน์

In [ ]:
small_df.drop(axis=1,columns=['Core_budget_code'])#1คือ column 0คือrow

In [ ]:
new_column=list()
for row in data1.iterrows():
  new_col=f"{row[1]['Department']}-{row[1]['Expenditure_category']}-{row[1]['Item_name']}"
  new_column.append(new_col)

In [ ]:
data1['description']= new_column
data1=data1.drop(axis=1,columns=['Department','Expenditure_category','Item_name'])

In [ ]:
data1

# Function ตัวช่วยใน pandas

### ```.describe()``` คำนวณค่าทางสถิติของข้อมูลที่เป็นตัวเลข

In [ ]:
data_covid.describe()

### ```.mean()``` คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [ ]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

### ```.isnull()```

In [ ]:
data_covid.isnull()

# next

*   ต่อตารางแกน X แกน y
*   .groupby
*   save table

#Excelเดือน9

In [3]:
import pandas as pd
import os

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
datasep= pd.read_excel('/content/drive/MyDrive/DataViz23Data/september.xlsx',header=8,skipfooter=26,)
datasep

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,...,ลำดับ\nใช้จ่าย,Unnamed: 15,รายการ.1,งบประมาณ.1,ผลเบิกจ่าย,ร้อยละเบิกจ่าย,สูงกว่าเป้าหมาย,ผลการใช้จ่าย,ร้อยละ,สูงกว่าเป้าหมาย.1
0,งบประมาณรายจ่ายประจำปี พ.ศ.2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ไตรมาส 2,(PO + เบิกจ่าย),การใช้จ่าย,ไตรมาส 2
1,ภาพรวม,2.852539e+10,3.476005e+08,1.190636e+09,2.700392e+10,94.666269,93.0,1.666269,2.854216e+10,100.058786,...,51.0,3.0,ภาพรวม,21663.922002,15260.448175,70.441761,19.441761,18069.314644,83.407403,27.167403
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,...,NaN,NaN,ประจำ,12452.794570,10580.839075,84.967587,27.967587,10614.976114,85.241719,29.461719
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,...,15.0,13.0,ลงทุน,9211.127432,4679.609100,50.803869,21.803869,7454.33853,80.927537,22.777537

#quiz4 ตัดตารางให้ sep_dfให้เหลือเฉพาะ15คอลัมน์แรกและข้อมูล งบประจำ กับ งบลงทุน

In [6]:
datasep=datasep.iloc[-2:,:15]
datasep

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,NaN,NaN
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0

In [7]:
datasep['เดือน-ปี']=len(datasep)*['sep-65']
datasep

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,NaN,NaN,sep-65
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0,sep-65

#Excelเดือนตุลา

In [8]:
import pandas as pd
import os

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
dataoct= pd.read_excel('/content/drive/MyDrive/DataViz23Data/octorber.xlsx',header=9,skipfooter=27,)
dataoct

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q1,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q1.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย
0,งบประมาณรายจ่ายประจำปี พ.ศ.2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ภาพรวม,13003.023512,NaN,470.002649,5275.988084,40.575087,32.0,8.575087,5745.990733,44.189651,34.08,10.109651,7257.032779,2.0,2.0
2,ประจำ,6822.811789,NaN,12.706842,3984.779058,58.403766,35.0,23.403766,3997.485900,58.590007,35.33,23.260007,2825.325889,NaN,NaN
3,ลงทุน,6180.211723,NaN,457.295806,1291.209026,20.892634,19.0,1.892634,1748.504832,28.291989,28.96,-0.668011,4431.706890,4.0,6.0

In [11]:
dataoct = dataoct.iloc[-2:,:15]
dataoct

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q1,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q1.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย
2,ประจำ,6822.811789,NaN,12.706842,3984.779058,58.403766,35.0,23.403766,3997.485900,58.590007,35.33,23.260007,2825.325889,NaN,NaN
3,ลงทุน,6180.211723,NaN,457.295806,1291.209026,20.892634,19.0,1.892634,1748.504832,28.291989,28.96,-0.668011,4431.706890,4.0,6.0

In [12]:
dataoct['เดือน-ปี']=len(dataoct)*['oct-65']
dataoct

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q1,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q1.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี
2,ประจำ,6822.811789,NaN,12.706842,3984.779058,58.403766,35.0,23.403766,3997.485900,58.590007,35.33,23.260007,2825.325889,NaN,NaN,oct-65
3,ลงทุน,6180.211723,NaN,457.295806,1291.209026,20.892634,19.0,1.892634,1748.504832,28.291989,28.96,-0.668011,4431.706890,4.0,6.0,oct-65

#ต่อตารางแกนy(แกนrows)

In [13]:
datasep_oct = pd.concat((datasep,dataoct))
datasep_oct

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี,เป้า\nหมาย Q1,เป้า\nหมาย Q1.1
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,NaN,NaN,sep-65,NaN,NaN
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0,sep-65,NaN,NaN
2,ประจำ,6.822812e+03,NaN,1.270684e+01,3.984779e+03,58.403766,NaN,23.403766,3.997486e+03,58.590007,NaN,23.260007,2.825326e+03,NaN,NaN,oct-65,35.0,35.33
3,ลงทุน,6.180212e+03,NaN,4.572958e+02,1.291209e+03,20.892634,NaN,1.892634,1.748505e+03,28.291989,NaN,-0.668011,4.431707e+03,4.0,6.0,oct-65,19.0,28.96

#Hw4
1.   งบประมาณประจำหรืองบประมาณลงทุน สูงกว่ากัน
2.   งบรวม เดือน oct หรือ sep อันไหนมากกว่ากัน
3.   แก้ค่า missing พร้อมทั้งให้เหตุผล
4.   เดือนไหนเบิกจ่ายรวมมากกว่ากัน (การใช้จ่าย (PO+เบิกจ่าย))

In [33]:
##ข้อที่1##

## a คืองบประจำ sep และ b คืองบลงทุน sep
a = datasep_oct[(datasep_oct['รายการ']=='ประจำ')&( datasep_oct['เดือน-ปี']=='sep-65')]['งบประมาณ']
b = datasep_oct[(datasep_oct['รายการ']=='ลงทุน')&( datasep_oct['เดือน-ปี']=='sep-65')]['งบประมาณ']



## c คืองบประจำ oct และ d คืองบลงทุน oct
c = datasep_oct[(datasep_oct['รายการ']=='ประจำ')&( datasep_oct['เดือน-ปี']=='oct-65')]['งบประมาณ']
d = datasep_oct[(datasep_oct['รายการ']=='ลงทุน')&( datasep_oct['เดือน-ปี']=='oct-65')]['งบประมาณ']


if int(a)>int(b): print(f'เดือนกันยายนพบว่า งบประมาณประจำ สูงกว่างบประมาณลงทุนอยู่',int(a)-int(b),'บาท')
else: print (f'เดือนกันยายนพบว่า งบประมาณลงทุน สูงกว่างบประมาณประจำอยู่',int(b)-int(a),'บาท')

if int(c)>int(d): print(f'เดือนตุลาคมพบว่า งบประมาณประจำ สูงกว่างบประมาณลงทุนอยู่', int(c)-int(d),'บาท')
else: print (f'เดือนตุลาคมพบว่า  งบประมาณลงทุน สูงกว่างบประมาณประจำอยู่', int(d)-int(c),'บาท')

เดือนกันยายนพบว่า งบประมาณประจำ สูงกว่างบประมาณลงทุนอยู่ 9314873477 บาท
เดือนตุลาคมพบว่า งบประมาณประจำ สูงกว่างบประมาณลงทุนอยู่ 642 บาท

In [34]:
##ข้อที่2##

sep = datasep_oct[datasep_oct["เดือน-ปี"] == datasep["เดือน-ปี"][2]]
oct = datasep_oct[datasep_oct["เดือน-ปี"] == dataoct["เดือน-ปี"][2]]
sep_fixxxxx = sep['งบประมาณ'][2]
sep_investtttt = sep['งบประมาณ'][3]
sep_sum = sep_fixxxxx + sep_investtttt
oct_fixxxxx = oct['งบประมาณ'][2]
oct_investtttt = oct['งบประมาณ'][3]
oct_sum = oct_fixxxxx + oct_investtttt
list_name =[]
for x in set(oct['รายการ']):
  list_name.append(x)
list_name
if sep_sum > oct_sum :
  print (f'งบรวมที่มากที่สุดคือเดือน {sep["เดือน-ปี"][2]} ซึ่งประกอบไปด้วยงบ "{list_name[0]}" เป็นเงินจำนวน {int(sep_fix):,} บาท เเละงบ "{list_name[1]}" ซึ่งเป็นเงินจำนวน {int(sep_invest):,} บาท รวมเป็นเงินทั้งสิ้น {int(sep_sum):,} บาท')
elif sep_sum < oct_sum :
  print (f'งบรวมที่มากที่สุดคือเดือน {oct["เดือน-ปี"][2]} ซึ่งประกอบไปด้วยงบ "{list_name[0]}" เป็นเงินจำนวน {int(oct_fix):,} บาท เเละงบ "{list_name[1]}" ซึ่งเป็นเงินจำนวน {int(oct_invest):,} บาท รวมเป็นเงินทั้งสิ้น {int(oct_sum):,} บาท')

งบรวมที่มากที่สุดคือเดือน sep-65 ซึ่งประกอบไปด้วยงบ "ประจำ" เป็นเงินจำนวน 18,952,530,608 บาท เเละงบ "ลงทุน" ซึ่งเป็นเงินจำนวน 9,589,627,825 บาท รวมเป็นเงินทั้งสิ้น 28,525,389,387 บาท

In [35]:
##ข้อที่3##

newtarang = datasep_oct.fillna('-')
print ('ค่าที่เปลี่ยนนั้นเป็นข้อมูลเชิงคุณภาพหากใส่ตัวเลขเข้าไปจะสามารถทำให้เกิดความเข้าใจผิดได้ ดังนั้นเพื่อไม่ให้ความเข้าใจคาดเคลื่อนจึงใช้เป็น "-" เเทน ')
print ('ตารางที่มีการเเก้ไขค่า missing เเล้ว')
newtarang

ค่าที่เปลี่ยนนั้นเป็นข้อมูลเชิงคุณภาพหากใส่ตัวเลขเข้าไปจะสามารถทำให้เกิดความเข้าใจผิดได้ ดังนั้นเพื่อไม่ให้ความเข้าใจคาดเคลื่อนจึงใช้เป็น "-" เเทน
ตารางที่มีการเเก้ไขค่า missing เเล้ว

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี,เป้า\nหมาย Q1,เป้า\nหมาย Q1.1
2,ประจำ,1.892013e+10,79257448.41,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,-,-,sep-65,-,-
3,ลงทุน,9.605258e+09,268343006.52,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0,sep-65,-,-
2,ประจำ,6.822812e+03,-,1.270684e+01,3.984779e+03,58.403766,-,23.403766,3.997486e+03,58.590007,-,23.260007,2.825326e+03,-,-,oct-65,35.0,35.33
3,ลงทุน,6.180212e+03,-,4.572958e+02,1.291209e+03,20.892634,-,1.892634,1.748505e+03,28.291989,-,-0.668011,4.431707e+03,4.0,6.0,oct-65,19.0,28.96

In [36]:
##ข้อที่4##

sep = datasep_oct[datasep_oct["เดือน-ปี"] == datasep["เดือน-ปี"][2]]
oct = datasep_oct[datasep_oct["เดือน-ปี"] == dataoct["เดือน-ปี"][2]]
sep_fixxxxx = sep['การใช้จ่าย (PO+เบิกจ่าย)'][2]
sep_investtttt = sep['การใช้จ่าย (PO+เบิกจ่าย)'][3]
sep_sum = sep_fixxxxx + sep_investtttt
oct_fixxxxx = oct['การใช้จ่าย (PO+เบิกจ่าย)'][2]
oct_investtttt = oct['การใช้จ่าย (PO+เบิกจ่าย)'][3]
oct_sum = oct_fixxxxx + oct_investtttt
list_name =[]
for i in set(oct['รายการ']):
  list_name.append(i)
list_name
if sep_sum > oct_sum :
  print (f'งบรวมที่มากที่สุดคือเดือน {sep["เดือน-ปี"][2]} ซึ่งประกอบไปด้วยงบ "{list_name[0]}" เป็นจำนวน {int(sep_fix):,} บาท เเละงบ "{list_name[1]}" ซึ่งเป็นเงินจำนวน {int(sep_invest):,} บาท รวมเป็นเงินทั้งสิ้น {int(sep_sum):,} บาท')
elif sep_sum < oct_sum :
  print (f'งบรวมที่มากที่สุดคือเดือน {oct["เดือน-ปี"][2]} ซึ่งประกอบไปด้วยงบ "{list_name[0]}" เป็นจำนวน {int(oct_fix):,} บาท เเละงบ "{list_name[1]}" ซึ่งเป็นเงินจำนวน {int(oct_invest):,} บาท รวมเป็นเงินทั้งสิ้น {int(oct_sum):,} บาท')

งบรวมที่มากที่สุดคือเดือน sep-65 ซึ่งประกอบไปด้วยงบ "ประจำ" เป็นจำนวน 18,952,530,608 บาท เเละงบ "ลงทุน" ซึ่งเป็นเงินจำนวน 9,589,627,825 บาท รวมเป็นเงินทั้งสิ้น 28,542,158,434 บาท